@tailwind base;
@tailwind components;
@tailwind utilities;


/* Defining custom properties (CSS variables) for background and foreground */
:root {
  --background: #ffffff; /* Default background for light mode */
  --foreground: #171717;  /* Default foreground for light mode */
}

body {
  color: var(--foreground); /* Set text color */
  background: var(--background); /* Set background color */
  font-family: Arial, Helvetica, sans-serif;
}

/* Dark mode custom properties */
.dark {
  --background: #0a0a0a; /* Dark background */
  --foreground: #ededed;  /* Light text color for dark mode */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}